/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(74, 50, 0, 0.371) inset;
  transition: background-color 5000s ease-in-out 0s;
}



/* Firefox */
.formContainer input[type=number] {
  -moz-appearance: textfield;
}



.formContainer *{
    color: rgb(255, 255, 255);
    font-family: Popins, sans-serif;
}

.container{
    padding-top: 20px;
}

.formContainer label{
    color: #ffffff;
}

.d{
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: auto;
    padding: 8px;
}

.InpFile{
    font-family: 'Poppins', sans-serif;
}



.upload-btn{
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background-color: rgb(59, 40, 0);
    border: 1px solid #eca900;
    color: #ffffff !important;
    padding: 12px 28px !important;
}


.i{
    margin-top: 5px;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #eca900;
    width:90%;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #ffffff;
}

.i, textarea {
    /* padding-left: 15px; */
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color : rgba(253, 169, 0, 0.371); 
}

.divupload{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}

.divupload button{
    padding: 3px 5px;
    /* border-radius: 5px;
    border: none; */
    color: black;

}

.imgUploadp{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    font-size: 6px;
    
}

.divSubmit{
    width: 80%;
    margin: auto;
    text-align: center;
}

.btn-submit{
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background-color: rgb(59, 40, 0);
    border: 1px solid #eca900;
    color: #ffffff !important;
    padding: 12px 28px !important;
}

.divLabFile{
    margin-bottom: 5px;
}



*,
*:after,
*:before {
	box-sizing: border-box;
}



.status{
    margin-top: 10px;
    font-size: 15px;
}

.position p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.position label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.status label{
    margin: 5px;
}
.status input{
    margin-right: 5px;
}
/* .nilwalaPos div{
    display: inline;
    margin: 10px;
}

.nilwalaPos p{
    font-size: 15px;

    margin-bottom: 5px;
} */

.visitPos{
    margin-top: 20px;
}
.visitPos p{
    font-size: 15px;
    /* margin-left: 20px; */
    margin-bottom: 5px;
}
.visitPos div{
    display: inline;
    margin: 10px;
}

.clubSelect{
    min-width: 350px;
    
}

  
select {
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    font-size: 15px;
    padding: 0.6em 6em 0.6em 0.8em;
    background-color : rgb(60, 40, 0); 
    border: none;
    border-bottom: .2em solid #eca900;
    border-radius: 0.25rem;
    cursor: pointer;

  }



input[type="file"]::file-selector-button {
    margin-top: 10px;
    border-radius: 8px;
    padding: 0px 10px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(76, 53, 0);
    border: 1px solid #eca900;
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: rgb(232, 158, 0);
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: rgb(211, 134, 0);
  }