.formContainer *{
    color: white;
    font-family: Popins, sans-serif;
}

.container{
    padding-top: 20px;
}

.formContainer label{
    color: #a4e8ff;
}

.d{
    font-family: Popins, sans-serif;
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
    /* text-align: center; */
    padding: 8px;
}

.i{
    margin-top: 5px;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #007db2;
    width:90%;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #1e76e9;
}

.i, textarea {
    color: rgb(219, 251, 255);
    /* background-color : #92dcff;  */
    background-color : rgb(11, 33, 68); 
}

.divupload{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}

.divupload button{
    padding: 3px 5px;
    /* border-radius: 5px;
    border: none; */
    color: black;

}

.imgUploadp{
    margin-bottom: 5px;
    font-size: 6px;
    
}

.divSubmit{
    /* border: 1px solid #3ed2ff;	 */
    width: 80%;
    margin: auto;
    text-align: center;
}

.btn-submit{
    color: black;
    padding: 3px 5px;
}

.divLabFile{
    margin-bottom: 5px;
}



*,
*:after,
*:before {
	box-sizing: border-box;
}


/* body {
	font-family: "Inter", sans-serif;
	color: white;
	font-size: calc(1em + 1.25vw);
	background-color: mix(#fff, #007db2, 90%);
} */

.position{
    margin-top: 10px;
    font-size: 15px;
}
.status label{
    margin: 5px;
}
.status input{
    margin-right: 5px;
}
.nilwalaPos div{
    display: inline;
    margin: 10px;
}

.nilwalaPos p{
    font-size: 15px;
    /* margin-left: 20px; */

    margin-bottom: 5px;
}

.visitPos{
    margin-top: 20px;
}
.visitPos p{
    font-size: 15px;
    /* margin-left: 20px; */
    margin-bottom: 5px;
}
.visitPos div{
    display: inline;
    margin: 10px;
}




