@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Staatliches&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.App{
    border: 1px solid rgb(19, 50, 91);
    /* border: none; */
    padding: 0%;
    margin: 0%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../../assets/Background.png');
}



.mainContainer {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
    align-items: center;
    height: 60%;
    margin-bottom: 60px;
}

.FormDetailsCN{
    background-color: rgb(7, 28, 61);
    /* border:3px solid red; */
    width: 50%;
    height: 700px;
}

.FormCompCN{
    /* border:3px solid red; */
    background-color: rgb(8, 26, 55);
    width: 50%;
    height: 700px;
}


@media (max-width: 1000px) {
    .App{
        font-size: 15px;
    }

    .App{
        height: 280vh !important;
    }
    .mainContainer {
        flex-direction: column;
        width: 100%;
    }
    .FormDetailsCN{
        width:80% !important;
        height: 750px !important;
    }
    .FormCompCN{
        width:80% !important;
    }

}


