.FDouter *{
    color: #dff7ff;
    font-family: 'Poppins', sans-serif;
}

.FDinner{
    padding: 30px;
}

.ticketPrice{
    font-size: 25px;
}
.paymentMethod
{
    margin-bottom: 10px;
    font-size: 20px;
}

.contactInfo{
    margin-top: 3vw;
}