


.FDouter *{
    color: #FFF5EA;
    font-family: 'Poppins', sans-serif;
}

.FDinner{
    padding: 30px;
}

.ticketPrice{
    text-align: center;
    font-size: 25px;
}
.paymentMethod
{
    margin-bottom: 10px;
    font-size: 20px;
}


.contactInfo{
    margin-top: 60px;
}

.detailP{
    font-size: 15px;
}