@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Staatliches&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{

  background-repeat: no-repeat;
  background-image: url('./assets/Background.png');
}



.mainContainer {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
    align-items: center;
    height: 60%;
    margin-bottom: 50px;
}

.FormDetailsCN{
    background-color: rgb(7, 28, 61);
    /* border:3px solid red; */
    width: 50%;
    height: 600px;
}

.FormCompCN{
    /* border:3px solid red; */
    background-color: rgb(8, 26, 55);
    width: 50%;
    height: 600px;
}


@media (max-width: 800px) {
    body{
        height: 180vh;
    }
    .mainContainer {
        flex-direction: column;
        width: 100%;
    }
    .FormDetailsCN{
        width:80% !important;
        height: 400px;
    }
    .FormCompCN{
        width:80% !important;
    }

}